<div>
  <div class="filters">
    <div id="filterHeader">
      <h1>Filters</h1>
    </div>
    <div nz-row>
      <div id="facultyFilter" nz-col nzSpan="12">
        <h2>Faculties</h2>
        <nz-select nzPlaceHolder="Select faculties"
                   nzAllowClear='true'
                   [(ngModel)]="selectedFaculty"
                   (ngModelChange)="updateFilter()">
          <nz-option *ngFor="let faculty of faculties" [nzLabel]="faculty" [nzValue]="faculty"></nz-option>
        </nz-select>
      </div>
      <div id="creditPointFilter" nz-col nzSpan="12">
        <h2>Credit Points</h2>
        <nz-select nzPlaceHolder="Select credit points"
                   nzAllowClear='true'
                   [(ngModel)]="selectedCreditPoint"
                   (ngModelChange)="updateFilter()">
          <nz-option *ngFor="let creditPoint of creditPoints" [nzLabel]="creditPoint" [nzValue]="creditPoint"></nz-option>
        </nz-select>
      </div>
    </div>
  </div>
  <div class="recommendations">
    <div id="recommendationHeader">
      <h1>Recommendations</h1>
    </div>
    <div id="searchRecommendations">
      <nz-input-group [nzSuffix]="suffixIconButton">
        <input type="text" id="searchValue" [(ngModel)]="searchValue" nz-input placeholder="input search text" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
      </ng-template>
    </div>
    <div id="recommendationCards">
      <div style="background: #ECECEC;padding:30px;">
        <div nz-row [nzGutter]="8">
          <div *ngFor="let card of cardsCurrent | appFilter: searchValue" nz-col [nzSpan]="8">
            <nz-card [nzTitle]="card.subjectName">
              <p>{{ !(!card.description) ? card.description.substring(0, 100) + "..." : "No description"}}</p>
              <ng-container [ngTemplateOutlet]="extraTemplate" [ngTemplateOutletContext]="{card:card}"></ng-container>
            </nz-card>
          </div>
        </div>
        <ng-template #extraTemplate let-card="card">
          <button nz-button [nzType]="'primary'" (click)="showModal(card)"><span>View More</span></button>
          <nz-modal [(nzVisible)]="card.isVisible" nzTitle="{{card.subjectCode}} - {{card.subjectName}}" (nzOnCancel)="handleCancel(card)" (nzOnOk)="handleOk(card)">
            <ng-container *nzModalContent>
              <b>Description:</b>
              <p>{{ !(!card.description) ? card.description : "No description"}}</p>
              <div nz-row>
                <div nz-col nzSpan="12">
                  <b>Credit Points</b>
                  <p>{{card.creditPoints.toString()}}</p>
                </div>
                <div nz-col nzSpan="12">
                  <b>Course Area</b>
                  <p>{{card.courseArea}}</p>
                </div>
              </div>
            </ng-container>
          </nz-modal>
        </ng-template>
      </div>
    </div>
  </div>
</div>
