<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/homepage">
        <i class="fas fa-university"></i>
        <h1>Subjects "R" Us</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/homepage">Homepage</a>
      </li>
      <li *ngIf='isLoggedIn' nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/recommendation">Recommendations</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/preferences">Preferences</a>
            </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
      <span id="greeting" *ngIf='isLoggedIn'>
        <a routerLink="/preferences">
          <span>
            Hello, {{currentUser.firstName}}, glad to see you back!
          </span>
        </a>
      </span>
      <div id="logoutButton" *ngIf='isLoggedIn'>
        <button (click)="logout()" nz-button nzType="primary">Logout</button>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>