[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
pymongo = {extras = ["srv"], version = "*"}
spacy = "*"
textacy = "*"
sklearn = "*"
pandas = "*"
nltk = "*"
names = "*"
setuptools = "*"
wheel = "*"
pythonnet = "*"
flask = "*"
flask-restful = "*"
torch = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
