<div>
    <div class="preferences">
        <div id="preferenceHeader">
            <h1>Preferences</h1>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="12" id="gridCol">
                <div id="preferencesFilter">
                    <h2>Faculties</h2>
                    <nz-select 
                        nzMode="multiple" 
                        nzPlaceHolder="Select faculties"
                        nzAllowClear='true'
                        [(ngModel)]="selectedFaculties">
                        <nz-option *ngFor="let faculty of faculties" [nzLabel]="faculty" [nzValue]="faculty"></nz-option>
                    </nz-select>
                </div>
                <div id="preferencesFilter">
                    <h2>Credit Points</h2>
                    <nz-select 
                        nzMode="multiple" 
                        nzPlaceHolder="Select credit points"
                        nzAllowClear='true'
                        [(ngModel)]="selectedCreditPoints">
                        <nz-option *ngFor="let creditPoint of creditPoints" [nzLabel]="creditPoint" [nzValue]="creditPoint"></nz-option>
                    </nz-select>
                </div>
                <div id="preferencesFilter">
                    <h2>Completed Subjects</h2>
                    <nz-select 
                        nzMode="multiple" 
                        nzPlaceHolder="Select Completed Subjects"
                        nzAllowClear='true'
                        [(ngModel)]="selectedCompletedSubjects">
                        <nz-option *ngFor="let completedSubject of completedSubjects" [nzLabel]="completedSubject" [nzValue]="completedSubject"></nz-option>
                    </nz-select>
                </div>
                <div id="preferencesFilter">
                    <h2>Topics of Interest</h2>
                    <nz-select nzMode="tags" nzPlaceHolder="Type a keyword and press enter" [(ngModel)]="listOfTagOptions">
                        <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-col [nzSpan]="12" id="gridCol">
                <div id="preferencesFilter">
                    <h2>Degree</h2>
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Degree" [(ngModel)]="degree">
                        <nz-option *ngFor="let degree of degrees" [nzLabel]="degree.degreeName" [nzValue]="degree.degreeName"></nz-option>
                    </nz-select>
                </div>
                <div id="preferencesFilter">
                    <h2>Student Type</h2>
                    <nz-radio-group [(ngModel)]="studentType">
                        <label nz-radio nzValue="domestic">Domestic Student</label>
                        <label nz-radio nzValue="international">International Student</label>
                    </nz-radio-group>
                </div>
                <div id="preferencesFilter">
                    <h2>Groupwork</h2>
                    <nz-radio-group [(ngModel)]="groupworkValue">
                        <label nz-radio nzValue="individual">Individual</label>
                        <label nz-radio nzValue="group">Group</label>
                        <label nz-radio nzValue="either">Either</label>
                    </nz-radio-group>
                </div>
                <div id="preferencesFilter">
                    <h2>Assessment Preferences</h2>
                    <nz-checkbox-group [(ngModel)]="assessmentPreference" (ngModelChange)="log(assessmentPreference)"></nz-checkbox-group>
                </div>
            </div>
          </div>
        
        
    </div>
</div>