nz-select {
    margin: 0;
}
[nz-carousel-content] {
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #fff;
    overflow: hidden;
    max-width:100%;
    max-height:100%;
    object-fit: contain;
    margin-bottom: 10px;
}
nz-carousel {
    height: 400px;
    margin-bottom: 20px;
}

#source{
    display: flex;
    justify-content: center;
    object-fit: fill;
}
h3 {
    color: #fff;
    margin-bottom: 0;
    user-select: none;
}

#img {
    max-width:100%;
    max-height:100%;
}

#title {
    display: flex;
    justify-content: center;
    font-size: 5vmin;
    line-height: 1.1;
}
#head {
    background: linear-gradient(
    to right, 
    hsl(98 100% 62%), 
    hsl(204 100% 59%)
  );
}
#login {
    margin-right: 15px;
    margin-bottom: 12px;
    background-color: hsl(202, 98%, 36%); 
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#register {
    margin-right: 15px;
    margin-bottom: 12px;
    background-color: hsl(202, 98%, 36%); 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

#login:hover{
    background-color: hsl(209, 76%, 60%); /* Green */
    color: white;
    cursor: pointer;
}

#register:hover{
    background-color: hsl(209, 76%, 60%); /* Green */
    color: white;
    cursor: pointer;
}
.buttonholder {
    margin-top: 5em;
    display: flex;
    justify-content: center;
}